@model SWBook.Models.Users

@{
    ViewData["Title"] = "User Profile";
}

<h1>@Html.DisplayFor(model => model.FirstName)'s Profile</h1>

<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <div class="card">
                <div class="card-header bg-transparent text-center">
                    <img class="profile_img" src="https://source.unsplash.com/300x300/?person" alt="student">
                </div>
                <div class="card-body">
                    <p class="mb-0"><strong class="pr-1">Name: </strong>@Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName) </p>
                    <p class="mb-0"><strong class="pr-1">Username: </strong>@Html.DisplayFor(model => model.Username)</p>
                    <p class="mb-0"><strong class="pr-1">Email Address: </strong>@Html.DisplayFor(model => model.EmailAdd)</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <div class="container2">
        <h3>Your Reviews</h3>
        <div class="row">

        </div>
    </div>
</div>

<!--
    
Initial Code by Razor
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmailAdd)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmailAdd)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AdminAcc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AdminAcc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PremiumAcc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PremiumAcc)
        </dd>
    </dl>
</div>
-->

<div>
    <a asp-action="Edit" asp-route-id="@Model.UserID">Update</a> |
    <a asp-action="Index">Back to User List</a>
</div>
